/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #f9f9f9;
  --white-soft: #eeeeee;
  --white-mid: #c4c4c4;
  --black: #282828;
  --black-soft: #555555;

  --gray0: #1b2029;
  --gray1: #222831;
  --gray2: #31363f;
  --gray3: #3e434d;

  --highlight: #ffcc00;
  --highlight-darker: #e0b509;

  --text-light: var(--indigo);
  --text-dark: var(--white);

  /* #1b191a */
  /* lit sparking font | elvetica */
}

/* semantic color variables for this project */
:root {
  --background: var(--white-soft);
  --background-secondary: var(--white-mid);
  --background-tertiary: var(--white);
  --color: var(--text-light);
  --color-secondary: var(--black-soft);
  --color-inverted: var(--text-dark);
  --border-color: var(--black-soft);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gray1);
    --background-secondary: var(--gray2);
    --background-tertiary: var(--gray3);
    --color: var(--text-dark);
    --color-secondary: var(--white-mid);
    --color-inverted: var(--black);
    --border-color: var(--gray0);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color);
  background: var(--background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font loading */
/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(assets/font/Montserrat-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}