#second-content {
  background-color: var(--background-tertiary);
}

#third-content {
  background-color: var(--background-secondary);
}

#fourth-container {
  background-color: var(--background-tertiary);
}

.content > div {
  padding: 80px 0;
}
.content > div ~ div {
  padding-top: 0;
}

.content a {
  color: var(--highlight);
  font-weight: 500;
}

.t-center {
  text-align: center;
}

.f-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainarea-comment {
  font-size: 1rem;
}
#mainarea-comment i {
  color: var(--highlight);
  padding-right: 2px;
}

.button-holder {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.mainarea-btn {
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  padding: 16px 32px;
  background-color: var(--highlight);
  cursor: pointer;

  transition: all ease 300ms;
}
.mainarea-btn:hover {
  background-color: var(--highlight-darker);
}

.duo-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.sub-text {
  color: var(--color-secondary);
}

nav {
  background-color: var(--background);
  height: 60px;
  font-size: 1.1rem;
  border-bottom: 2px solid var(--border-color);
}
nav > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#header-logo {
  display: flex;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#logo-icon {
  height: 40px;
}

#logo-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 6px;
  transform: scaleX(0.85);
  margin-left: -12px;
}

.header-link {
  text-decoration: none;
  color: var(--color);
}
.header-link:hover {
  color: var(--highlight);
}

footer {
  background-color: var(--background);
  height: 60px;
  font-size: 1.1rem;
  border-bottom: 2px solid var(--border-color);
}
#footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#drawer-cover {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000055;
  backdrop-filter: blur(1px);
}

#drawer-cover .drawer-container {
  background: var(--background-secondary);
  position: fixed;
  height: 100%;
  margin: 0 0 0 auto;
  right: 0;
  padding: 50px 20px;
  border-radius: 12px 0 0 12px;
}